flow.json
[
    {
        "id": "ce607311.f76b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5696046.c03b1",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9c9bd6c.d8014",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b60c822.33bbd8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2adf3ad8.70a3f6",
        "type": "ui_tab",
        "name": "Temperatura",
        "icon": "fa-thermometer",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "40e5bff9.83442",
        "type": "ui_tab",
        "name": "CPU",
        "icon": "fa-laptop",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "134f850c.afb93b",
        "type": "ui_tab",
        "name": "Alertas",
        "icon": "fa-cog",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "442d2115.74418",
        "type": "ui_tab",
        "name": "Memoria",
        "icon": "fa-database",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81f3f4b3.6dcf78",
        "type": "ui_group",
        "name": "Enrique",
        "tab": "442d2115.74418",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "c54dcd69.ccfc9",
        "type": "ui_group",
        "name": "Enrique",
        "tab": "2adf3ad8.70a3f6",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "4d85ca96.272c04",
        "type": "ui_group",
        "name": "Eneko",
        "tab": "2adf3ad8.70a3f6",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "839c7ee7.7d919",
        "type": "ui_group",
        "name": "Eneko",
        "tab": "40e5bff9.83442",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "92361b76.3b9a88",
        "type": "ui_group",
        "name": "Enrique",
        "tab": "40e5bff9.83442",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "d1f2f5f2.c246f8",
        "type": "ui_group",
        "name": "Eneko",
        "tab": "442d2115.74418",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "a104d837.3d2e68",
        "type": "ui_group",
        "name": "Configuración",
        "tab": "134f850c.afb93b",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "16410111.ca0eaf",
        "type": "ui_group",
        "name": "Datos",
        "tab": "134f850c.afb93b",
        "order": 2,
        "disp": false,
        "width": 8,
        "collapse": false
    },
    {
        "id": "4c9d7b7d.05f8b4",
        "type": "ui_tab",
        "name": "Archivos",
        "icon": "fa-file-text",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "189e3a36.d76d66",
        "type": "ui_group",
        "name": "Acciones",
        "tab": "4c9d7b7d.05f8b4",
        "order": 1,
        "disp": false,
        "width": 15,
        "collapse": false
    },
    {
        "id": "29d32ec2.d0f5b2",
        "type": "ui_group",
        "name": "e-mail",
        "tab": "ea3a3fc0.84d1c8",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ea3a3fc0.84d1c8",
        "type": "ui_tab",
        "name": "E-mail",
        "icon": "send",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "57b0108b.363f88",
        "type": "ui_group",
        "name": "Graficos",
        "tab": "4c9d7b7d.05f8b4",
        "order": 2,
        "disp": false,
        "width": 15,
        "collapse": false
    },
    {
        "id": "aaa0490e.7de9f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "29d32ec2.d0f5b2",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "31b598ed.6a9c58",
        "type": "mqtt in",
        "z": "ce607311.f76b",
        "name": "",
        "topic": "aprendiendonodered21/enrique/raspberrypi2/enrique/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "d9c9bd6c.d8014",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 660,
        "wires": [
            [
                "dcc769b8.4e5608"
            ]
        ]
    },
    {
        "id": "5c44a3b4.2bb56c",
        "type": "mqtt in",
        "z": "ce607311.f76b",
        "name": "",
        "topic": "aprendiendonodered21/enrique/raspberrypi1/enrique/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "d9c9bd6c.d8014",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 600,
        "wires": [
            [
                "14d9a19a.92481e"
            ]
        ]
    },
    {
        "id": "187df54.4f5a10b",
        "type": "mqtt in",
        "z": "ce607311.f76b",
        "name": "",
        "topic": "aprendiendonodered21/Eneko/raspberrypi2/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "d9c9bd6c.d8014",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 780,
        "wires": [
            [
                "212c9d3f.57dd02"
            ]
        ]
    },
    {
        "id": "ba4ecb73.dde288",
        "type": "mqtt in",
        "z": "ce607311.f76b",
        "name": "",
        "topic": "aprendiendonodered21/Eneko/raspberrypi1/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "d9c9bd6c.d8014",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "4d76fbc5.91de54"
            ]
        ]
    },
    {
        "id": "c7515d53.a95fe",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "c54dcd69.ccfc9",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 560,
        "wires": []
    },
    {
        "id": "14d9a19a.92481e",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Temp",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "CPU",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mem",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "17ea4f3c.4d6fd1"
            ],
            [
                "6adeff4b.6b1bd"
            ],
            [
                "12f128fc.c3383f"
            ]
        ]
    },
    {
        "id": "a9a6e4a7.a86ad8",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "92361b76.3b9a88",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 600,
        "wires": []
    },
    {
        "id": "190840fe.16e71f",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "81f3f4b3.6dcf78",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 640,
        "wires": []
    },
    {
        "id": "1e2ceae2.adde75",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "c54dcd69.ccfc9",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 680,
        "wires": []
    },
    {
        "id": "dcc769b8.4e5608",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Temp",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "CPU",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mem",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 720,
        "wires": [
            [
                "c9fddd04.3bda8"
            ],
            [
                "5780dc17.8c0cf4"
            ],
            [
                "1a466f9.69f279"
            ]
        ]
    },
    {
        "id": "b48c02ed.1b35e",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "92361b76.3b9a88",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 720,
        "wires": []
    },
    {
        "id": "4292e656.70df28",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "81f3f4b3.6dcf78",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 760,
        "wires": []
    },
    {
        "id": "4d76fbc5.91de54",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Temp",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "CPU",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mem",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 840,
        "wires": [
            [
                "79bff079.c8b62"
            ],
            [
                "eec8b02.e6fa4d"
            ],
            [
                "164b0501.92993b"
            ]
        ]
    },
    {
        "id": "87fa9616.6b4048",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "4d85ca96.272c04",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 800,
        "wires": []
    },
    {
        "id": "de0a1c2e.54af6",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "839c7ee7.7d919",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 840,
        "wires": []
    },
    {
        "id": "cd583a59.c1bab8",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "d1f2f5f2.c246f8",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 880,
        "wires": []
    },
    {
        "id": "212c9d3f.57dd02",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Temp",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "CPU",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mem",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 960,
        "wires": [
            [
                "c2f39faa.518bc"
            ],
            [
                "50f0eaa.3799094"
            ],
            [
                "f32e2e2.a53445"
            ]
        ]
    },
    {
        "id": "1370b10d.e14f3f",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "4d85ca96.272c04",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 920,
        "wires": []
    },
    {
        "id": "307bbe05.1e9a72",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "839c7ee7.7d919",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 960,
        "wires": []
    },
    {
        "id": "d79a1de9.4a6cb",
        "type": "ui_gauge",
        "z": "ce607311.f76b",
        "name": "",
        "group": "d1f2f5f2.c246f8",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e555b1c1.42929",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "c54dcd69.ccfc9",
        "order": 3,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "500abb72.51a174",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "92361b76.3b9a88",
        "order": 3,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "7185ea61.328404",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "81f3f4b3.6dcf78",
        "order": 3,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b641af7f.2241",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "c54dcd69.ccfc9",
        "order": 4,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "eec60900.894828",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "92361b76.3b9a88",
        "order": 4,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "30480cd2.6ec594",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "81f3f4b3.6dcf78",
        "order": 4,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "63b0665.364f598",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "4d85ca96.272c04",
        "order": 3,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "7d1c5660.a487c8",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "839c7ee7.7d919",
        "order": 3,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "56c1125c.763e8c",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "d1f2f5f2.c246f8",
        "order": 3,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "b84f6d36.e2e7e",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "4d85ca96.272c04",
        "order": 4,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "346bbdf7.3fb212",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "839c7ee7.7d919",
        "order": 4,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "6b3c03ce.c5ee1c",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "",
        "group": "d1f2f5f2.c246f8",
        "order": 4,
        "width": 4,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "e1d9d5e.b274e28",
        "type": "ui_button",
        "z": "ce607311.f76b",
        "name": "",
        "group": "189e3a36.d76d66",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Start_Files",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "contrasena : 1234",
        "payloadType": "str",
        "topic": "¿quieres iniciar los 4 archivos?",
        "topicType": "str",
        "x": 1530,
        "y": 1140,
        "wires": [
            [
                "f06ee7f7.0dbc68"
            ]
        ]
    },
    {
        "id": "bd93698e.657008",
        "type": "ui_button",
        "z": "ce607311.f76b",
        "name": "",
        "group": "189e3a36.d76d66",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Send_File",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1340,
        "y": 1260,
        "wires": [
            [
                "cfb599da.214c"
            ]
        ]
    },
    {
        "id": "f3fd1bf3.ca2e18",
        "type": "ui_form",
        "z": "ce607311.f76b",
        "name": "form E-mail",
        "label": "E-mail para enviar Alertas y Archivos",
        "group": "29d32ec2.d0f5b2",
        "order": 1,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "nuevaDireccion",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": ""
        },
        "payload": "",
        "submit": "aceptar",
        "cancel": "cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "7a317a52.fde744"
            ]
        ]
    },
    {
        "id": "8037bdba.66696",
        "type": "ui_text",
        "z": "ce607311.f76b",
        "group": "29d32ec2.d0f5b2",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "ultimaDireccion",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "dfc2c7f2.913388",
        "type": "ui_dropdown",
        "z": "b5696046.c03b1",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "RaspberryPi 1 Enrique",
        "group": "a104d837.3d2e68",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "RaspberryPi 1 Enrique",
                "value": "enriq1",
                "type": "str"
            },
            {
                "label": "RaspberryPi 2 Enrique",
                "value": "enriq2",
                "type": "str"
            },
            {
                "label": "RaspberryPi 1 Eneko",
                "value": "eneko1",
                "type": "str"
            },
            {
                "label": "RaspberryPi 2 Eneko",
                "value": "eneko2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 1200,
        "wires": [
            [
                "a908227f.3a"
            ]
        ]
    },
    {
        "id": "68a23c56.ca0fc4",
        "type": "inject",
        "z": "b5696046.c03b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "85",
        "payloadType": "num",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "3f3112c6.50f976",
                "cf584fd6.6cefb8",
                "af15345e.dcc29",
                "d83949f1.b1c18",
                "dc2ea355.5362a8"
            ]
        ]
    },
    {
        "id": "3f3112c6.50f976",
        "type": "ui_slider",
        "z": "b5696046.c03b1",
        "name": "sliderT",
        "label": "max.tempe ºC",
        "tooltip": "",
        "group": "a104d837.3d2e68",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "eleccActual",
        "topicType": "flow",
        "min": "40",
        "max": "105",
        "step": 1,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "ad18a6a5.a8395"
            ]
        ]
    },
    {
        "id": "a908227f.3a",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eleccActual",
        "rules": [
            {
                "t": "set",
                "p": "eleccActual",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1200,
        "wires": [
            [
                "efe6dafb.6b1f28"
            ]
        ]
    },
    {
        "id": "cbe12ecd.4bf7f8",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq1grados",
        "rules": [
            {
                "t": "set",
                "p": "enriq1grados",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "61560fd5.cb13d"
            ]
        ]
    },
    {
        "id": "ad18a6a5.a8395",
        "type": "switch",
        "z": "b5696046.c03b1",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "enriq1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "enriq2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eneko1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eneko2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "cbe12ecd.4bf7f8"
            ],
            [
                "fb7604b8.e9b098"
            ],
            [
                "ff838956.adf628"
            ],
            [
                "a2f237af.8e4e5"
            ]
        ]
    },
    {
        "id": "fb7604b8.e9b098",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq2grados",
        "rules": [
            {
                "t": "set",
                "p": "enriq2grados",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "61560fd5.cb13d"
            ]
        ]
    },
    {
        "id": "ff838956.adf628",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko1grados",
        "rules": [
            {
                "t": "set",
                "p": "eneko1grados",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "61560fd5.cb13d"
            ]
        ]
    },
    {
        "id": "a2f237af.8e4e5",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko2grados",
        "rules": [
            {
                "t": "set",
                "p": "eneko2grados",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "61560fd5.cb13d"
            ]
        ]
    },
    {
        "id": "efe6dafb.6b1f28",
        "type": "switch",
        "z": "b5696046.c03b1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "enriq1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "enriq2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eneko1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eneko2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 450,
        "y": 1200,
        "wires": [
            [
                "35017a48.63c1b6",
                "9df0e982.7be8e",
                "83c944bf.2302d8"
            ],
            [
                "c62a7450.9f005",
                "564d3af6.3bacbc",
                "b63b13b2.295cf"
            ],
            [
                "f52e0df5.cb3d48",
                "f61ae8af.643c",
                "33aeed5b.bf5cb2"
            ],
            [
                "265a91f1.9b0d1e",
                "ae7f4ca3.79cc7",
                "4e258c04.08e5a4"
            ]
        ]
    },
    {
        "id": "35017a48.63c1b6",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq1grados",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "enriq1grados",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1000,
        "wires": [
            [
                "351eb5b2.66666a"
            ]
        ]
    },
    {
        "id": "c62a7450.9f005",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq2grados",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "enriq2grados",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1140,
        "wires": [
            [
                "351eb5b2.66666a"
            ]
        ]
    },
    {
        "id": "f52e0df5.cb3d48",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko1grados",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "eneko1grados",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1280,
        "wires": [
            [
                "351eb5b2.66666a"
            ]
        ]
    },
    {
        "id": "265a91f1.9b0d1e",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko2grados",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "eneko2grados",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1420,
        "wires": [
            [
                "351eb5b2.66666a"
            ]
        ]
    },
    {
        "id": "351eb5b2.66666a",
        "type": "link out",
        "z": "b5696046.c03b1",
        "name": "S_grados",
        "links": [
            "7ab8745.0a02a0c"
        ],
        "x": 855,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7ab8745.0a02a0c",
        "type": "link in",
        "z": "b5696046.c03b1",
        "name": "S_grados",
        "links": [
            "351eb5b2.66666a"
        ],
        "x": 155,
        "y": 140,
        "wires": [
            [
                "3f3112c6.50f976"
            ]
        ]
    },
    {
        "id": "8f61117.cbe2ff",
        "type": "comment",
        "z": "b5696046.c03b1",
        "name": "3 SLIDER, 4 DROPDOWN y 1 TABLE",
        "info": "SLIDERs:\ngrados, cpu, mem\nDROPDOWNs:\nenriq1, enriq2, eneko1, eneko2\nTABLE:\n4 columnas, 12 filas\n\nInicio las variables de contexto\ncon estos valores:\nFLOW\neleccActual \"\"\nGLOBAL\nenriq1grados    85\nenriq2grados    85\neneko1grados    85\neneko2grados    85\nenriq1cpu       70\nenriq2cpu       70\neneko1cpu       70\neneko2cpu       70\nenriq1mem       150\nenriq2mem       150\neneko1mem       150\neneko2mem       150\n\nCuando deslizas un slider por primera vez sin\nhaber cambiado el dropdown no cambio ningun valor\n(flow)eleccActual esta vacia.\n\nCuando cambias a una opcion en el dropdown,\ncambias (flow)eleccActual y ya puedes\ndeslizar el slider que asignara la (global)xxxxx#xxx que has elegido.\n\nCada vez que cambias una opcion del dropdown,\nautomaticamente deslizo los sliders a los 3 valores guardados para ese dropdown.\n\nCada vez que deslizas un slider actualizo solo\nla fila de la tabla de ese Usuario, Dispositivo\ny parametro, por ejemplo enriq1cpu.",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "cf584fd6.6cefb8",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq1grados",
        "rules": [
            {
                "t": "set",
                "p": "enriq1grados",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "af15345e.dcc29",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq2grados",
        "rules": [
            {
                "t": "set",
                "p": "enriq2grados",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d83949f1.b1c18",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko1grados",
        "rules": [
            {
                "t": "set",
                "p": "eneko1grados",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "dc2ea355.5362a8",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko2grados",
        "rules": [
            {
                "t": "set",
                "p": "eneko2grados",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9df0e982.7be8e",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq1cpu",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "enriq1cpu",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1040,
        "wires": [
            [
                "e6c69a7f.54bd6"
            ]
        ]
    },
    {
        "id": "83c944bf.2302d8",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq1mem",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "enriq1mem",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1080,
        "wires": [
            [
                "29be2778.f17fc"
            ]
        ]
    },
    {
        "id": "564d3af6.3bacbc",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq2cpu",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "enriq2cpu",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1180,
        "wires": [
            [
                "e6c69a7f.54bd6"
            ]
        ]
    },
    {
        "id": "b63b13b2.295cf",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq2mem",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "enriq2mem",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1220,
        "wires": [
            [
                "29be2778.f17fc"
            ]
        ]
    },
    {
        "id": "f61ae8af.643c",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko1cpu",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "eneko1cpu",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1320,
        "wires": [
            [
                "e6c69a7f.54bd6"
            ]
        ]
    },
    {
        "id": "33aeed5b.bf5cb2",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko1mem",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "eneko1mem",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1360,
        "wires": [
            [
                "29be2778.f17fc"
            ]
        ]
    },
    {
        "id": "ae7f4ca3.79cc7",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko2cpu",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "eneko2cpu",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1460,
        "wires": [
            [
                "e6c69a7f.54bd6"
            ]
        ]
    },
    {
        "id": "4e258c04.08e5a4",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko2mem",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "eneko2mem",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1500,
        "wires": [
            [
                "29be2778.f17fc"
            ]
        ]
    },
    {
        "id": "26cc7af8.c71626",
        "type": "ui_slider",
        "z": "b5696046.c03b1",
        "name": "sliderM",
        "label": "max. Mem MB",
        "tooltip": "",
        "group": "a104d837.3d2e68",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "eleccActual",
        "topicType": "flow",
        "min": 0,
        "max": "200",
        "step": 1,
        "x": 300,
        "y": 740,
        "wires": [
            [
                "74b97547.3bfa8c"
            ]
        ]
    },
    {
        "id": "cb6ab475.774678",
        "type": "ui_slider",
        "z": "b5696046.c03b1",
        "name": "sliderC",
        "label": "max. Cpu  %",
        "tooltip": "",
        "group": "a104d837.3d2e68",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "eleccActual",
        "topicType": "flow",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "961d3e42.6cb468"
            ]
        ]
    },
    {
        "id": "961d3e42.6cb468",
        "type": "switch",
        "z": "b5696046.c03b1",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "enriq1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "enriq2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eneko1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eneko2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 490,
        "y": 460,
        "wires": [
            [
                "83d71f62.4f68e"
            ],
            [
                "f489293a.45ccf8"
            ],
            [
                "1f9799a1.496396"
            ],
            [
                "d17caaf3.de3b9"
            ]
        ]
    },
    {
        "id": "83d71f62.4f68e",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq1cpu",
        "rules": [
            {
                "t": "set",
                "p": "enriq1cpu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 400,
        "wires": [
            [
                "567dea42.141b04"
            ]
        ]
    },
    {
        "id": "f489293a.45ccf8",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq2cpu",
        "rules": [
            {
                "t": "set",
                "p": "enriq2cpu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 440,
        "wires": [
            [
                "567dea42.141b04"
            ]
        ]
    },
    {
        "id": "1f9799a1.496396",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko1cpu",
        "rules": [
            {
                "t": "set",
                "p": "eneko1cpu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 480,
        "wires": [
            [
                "567dea42.141b04"
            ]
        ]
    },
    {
        "id": "d17caaf3.de3b9",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko2cpu",
        "rules": [
            {
                "t": "set",
                "p": "eneko2cpu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "567dea42.141b04"
            ]
        ]
    },
    {
        "id": "a6dcbaaf.389f18",
        "type": "inject",
        "z": "b5696046.c03b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "cb6ab475.774678",
                "1cb6fbbd.5b8dbc",
                "6a5e1406.1c1f84",
                "2db7fddc.e428ca",
                "bf404ad4.f47ef"
            ]
        ]
    },
    {
        "id": "e6c69a7f.54bd6",
        "type": "link out",
        "z": "b5696046.c03b1",
        "name": "S_cpu",
        "links": [
            "2242460a.31ce1a"
        ],
        "x": 855,
        "y": 1180,
        "wires": []
    },
    {
        "id": "29be2778.f17fc",
        "type": "link out",
        "z": "b5696046.c03b1",
        "name": "S_mem",
        "links": [
            "5b02c17b.c447a"
        ],
        "x": 855,
        "y": 1220,
        "wires": []
    },
    {
        "id": "2242460a.31ce1a",
        "type": "link in",
        "z": "b5696046.c03b1",
        "name": "S_cpu",
        "links": [
            "e6c69a7f.54bd6"
        ],
        "x": 155,
        "y": 440,
        "wires": [
            [
                "cb6ab475.774678"
            ]
        ]
    },
    {
        "id": "1cb6fbbd.5b8dbc",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq1cpu",
        "rules": [
            {
                "t": "set",
                "p": "enriq1cpu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "6a5e1406.1c1f84",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq2cpu",
        "rules": [
            {
                "t": "set",
                "p": "enriq2cpu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "2db7fddc.e428ca",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko1cpu",
        "rules": [
            {
                "t": "set",
                "p": "eneko1cpu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "bf404ad4.f47ef",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko2cpu",
        "rules": [
            {
                "t": "set",
                "p": "eneko2cpu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "74b97547.3bfa8c",
        "type": "switch",
        "z": "b5696046.c03b1",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "enriq1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "enriq2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eneko1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eneko2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 490,
        "y": 740,
        "wires": [
            [
                "c635e1a0.6f0de8"
            ],
            [
                "aedb1fd4.3bd3e8"
            ],
            [
                "b9fdefbc.734b5"
            ],
            [
                "30176681.a710a2"
            ]
        ]
    },
    {
        "id": "c635e1a0.6f0de8",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq1mem",
        "rules": [
            {
                "t": "set",
                "p": "enriq1mem",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 680,
        "wires": [
            [
                "fa6541a0.53c01"
            ]
        ]
    },
    {
        "id": "aedb1fd4.3bd3e8",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq2mem",
        "rules": [
            {
                "t": "set",
                "p": "enriq2mem",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 720,
        "wires": [
            [
                "fa6541a0.53c01"
            ]
        ]
    },
    {
        "id": "b9fdefbc.734b5",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko1mem",
        "rules": [
            {
                "t": "set",
                "p": "eneko1mem",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 760,
        "wires": [
            [
                "fa6541a0.53c01"
            ]
        ]
    },
    {
        "id": "30176681.a710a2",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko2mem",
        "rules": [
            {
                "t": "set",
                "p": "eneko2mem",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 800,
        "wires": [
            [
                "fa6541a0.53c01"
            ]
        ]
    },
    {
        "id": "5b02c17b.c447a",
        "type": "link in",
        "z": "b5696046.c03b1",
        "name": "S_mem",
        "links": [
            "29be2778.f17fc"
        ],
        "x": 155,
        "y": 720,
        "wires": [
            [
                "26cc7af8.c71626"
            ]
        ]
    },
    {
        "id": "faf97574.2da8d8",
        "type": "inject",
        "z": "b5696046.c03b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "150",
        "payloadType": "num",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "26cc7af8.c71626",
                "f176ce1f.37ae2",
                "ecb842ad.ab745",
                "e8623e14.f4e47",
                "b25d5a13.724d78"
            ]
        ]
    },
    {
        "id": "f176ce1f.37ae2",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq1mem",
        "rules": [
            {
                "t": "set",
                "p": "enriq1mem",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "ecb842ad.ab745",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "enriq2mem",
        "rules": [
            {
                "t": "set",
                "p": "enriq2mem",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "e8623e14.f4e47",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko1mem",
        "rules": [
            {
                "t": "set",
                "p": "eneko1mem",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "b25d5a13.724d78",
        "type": "change",
        "z": "b5696046.c03b1",
        "name": "eneko2mem",
        "rules": [
            {
                "t": "set",
                "p": "eneko2mem",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a531e1de.56e95",
        "type": "ui_table",
        "z": "b5696046.c03b1",
        "group": "16410111.ca0eaf",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 7,
        "columns": [
            {
                "field": "id",
                "title": "Usuario",
                "width": "23%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Dispositivo",
                "title": "Dispositivo",
                "width": "26%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Parametro",
                "title": "Parametro",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Valor Alerta",
                "title": "Valor Alerta",
                "width": "26%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 450,
        "y": 1480,
        "wires": []
    },
    {
        "id": "df8d294d.f2fa5",
        "type": "function",
        "z": "b5696046.c03b1",
        "name": "",
        "func": "msg.payload = [\n{\n\"id\":\"enriq1grados\",\n\"Dispositivo\":\"Raspi 1\",\n\"Parametro\":\"Temperatura\",\n\"Valor Alerta\":global.get(\"enriq1grados\")\n},\n{\n\"id\":\"enriq1cpu\",\n\"Dispositivo\":\"Raspi 1\",\n\"Parametro\":\"CPU\",\n\"Valor Alerta\":global.get(\"enriq1cpu\")\n},\n{\n\"id\":\"enriq1mem\",\n\"Dispositivo\":\"Raspi 1\",\n\"Parametro\":\"Memoria\",\n\"Valor Alerta\":global.get(\"enriq1mem\")\n},\n{\n\"id\":\"enriq2grados\",\n\"Dispositivo\":\"Raspi 2\",\n\"Parametro\":\"Temperatura\",\n\"Valor Alerta\":global.get(\"enriq2grados\")\n},\n{\n\"id\":\"enriq2cpu\",\n\"Dispositivo\":\"Raspi 2\",\n\"Parametro\":\"CPU\",\n\"Valor Alerta\":global.get(\"enriq2cpu\")\n},\n{\n\"id\":\"enriq2mem\",\n\"Dispositivo\":\"Raspi 2\",\n\"Parametro\":\"Memoria\",\n\"Valor Alerta\":global.get(\"enriq2mem\")\n},\n{\n\"id\":\"eneko1grados\",\n\"Dispositivo\":\"Raspi 1\",\n\"Parametro\":\"Temperatura\",\n\"Valor Alerta\":global.get(\"eneko1grados\")\n},\n{\n\"id\":\"eneko1cpu\",\n\"Dispositivo\":\"Raspi 1\",\n\"Parametro\":\"CPU\",\n\"Valor Alerta\":global.get(\"eneko1cpu\")\n},\n{\n\"id\":\"eneko1mem\",\n\"Dispositivo\":\"Raspi 1\",\n\"Parametro\":\"Memoria\",\n\"Valor Alerta\":global.get(\"eneko1mem\")\n},\n{\n\"id\":\"eneko2grados\",\n\"Dispositivo\":\"Raspi 2\",\n\"Parametro\":\"Temperatura\",\n\"Valor Alerta\":global.get(\"eneko2grados\")\n},\n{\n\"id\":\"eneko2cpu\",\n\"Dispositivo\":\"Raspi 2\",\n\"Parametro\":\"CPU\",\n\"Valor Alerta\":global.get(\"eneko2cpu\")\n},\n{\n\"id\":\"eneko2mem\",\n\"Dispositivo\":\"Raspi 2\",\n\"Parametro\":\"Memoria\",\n\"Valor Alerta\":global.get(\"eneko2mem\")\n}\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1420,
        "wires": [
            [
                "a531e1de.56e95"
            ]
        ]
    },
    {
        "id": "61560fd5.cb13d",
        "type": "link out",
        "z": "b5696046.c03b1",
        "name": "T_grados",
        "links": [
            "3ce7f888.23e5e8"
        ],
        "x": 835,
        "y": 140,
        "wires": []
    },
    {
        "id": "3ce7f888.23e5e8",
        "type": "link in",
        "z": "b5696046.c03b1",
        "name": "T_grados",
        "links": [
            "61560fd5.cb13d"
        ],
        "x": 95,
        "y": 1480,
        "wires": [
            [
                "c4fcd7b4.29ef7"
            ]
        ]
    },
    {
        "id": "567dea42.141b04",
        "type": "link out",
        "z": "b5696046.c03b1",
        "name": "T_cpu",
        "links": [
            "5032a06d.eaabd8"
        ],
        "x": 815,
        "y": 440,
        "wires": []
    },
    {
        "id": "fa6541a0.53c01",
        "type": "link out",
        "z": "b5696046.c03b1",
        "name": "T_mem",
        "links": [
            "81f82584.ff2ac"
        ],
        "x": 835,
        "y": 720,
        "wires": []
    },
    {
        "id": "983ecc19.0e5d7",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "Tempe",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "enriq1grados",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 40,
        "wires": [
            [
                "4addb702.eaef3"
            ],
            [
                "95eff096.3d62a"
            ]
        ]
    },
    {
        "id": "dbcb901.cd6b97",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "CPU",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "enriq1cpu",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 120,
        "wires": [
            [
                "ec2673bb.e33d7"
            ],
            [
                "83190b14.eaf8e"
            ]
        ]
    },
    {
        "id": "90510443.05e9f8",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "Mem",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "enriq1mem",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "399be1bd.bb1da6"
            ],
            [
                "7cd88a.35b45778"
            ]
        ]
    },
    {
        "id": "f4e7da7c.575a6",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1070,
        "y": 40,
        "wires": [
            [
                "29c5c772.2d058"
            ]
        ]
    },
    {
        "id": "60a1e141.af8d1",
        "type": "comment",
        "z": "ce607311.f76b",
        "name": "Ultima Direccion de E-mail",
        "info": "En la carpeta de este proyecto hay un archivo llamado:\n/home/pi/.node-red/projects/proyectoAlexFin/\nultimaDireccion.txt\nsolamente tiene una direccion de E-mail\nNO es un objeto.\n\nCuando me inicio leo la direccion,\nla asigno a (flow) ultimaDireccion,\ny la muestro en el text del dashboard.\n\nCuando la cambias por una nueva, en el form,\nla saco del objeto producido por el form,\nla asigno a (flow) ultimaDireccion,\nla muestro en el text del dashboard,\ny la sobreescribo en el archivo.\n\nQueda guardada para proximas sesiones.",
        "x": 230,
        "y": 120,
        "wires": []
    },
    {
        "id": "2fad9667.30684a",
        "type": "debug",
        "z": "ce607311.f76b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2110,
        "y": 320,
        "wires": []
    },
    {
        "id": "40fe4a54.ce95a4",
        "type": "e-mail",
        "z": "ce607311.f76b",
        "server": "smtp.ionos.es",
        "port": "587",
        "secure": false,
        "tls": true,
        "name": "",
        "dname": "send E-mail",
        "x": 2110,
        "y": 260,
        "wires": []
    },
    {
        "id": "95eff096.3d62a",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Enrique \"&payload&\" ºC\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 60,
        "wires": [
            [
                "f4e7da7c.575a6"
            ]
        ]
    },
    {
        "id": "4addb702.eaef3",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Enrique \"&payload&\" ºC\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 20,
        "wires": [
            [
                "f4e7da7c.575a6"
            ]
        ]
    },
    {
        "id": "83190b14.eaf8e",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CPU Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Enrique \"&payload&\" %\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 140,
        "wires": [
            [
                "9b1c9f44.556348"
            ]
        ]
    },
    {
        "id": "ec2673bb.e33d7",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CPU ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Enrique \"&payload&\" %\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 100,
        "wires": [
            [
                "9b1c9f44.556348"
            ]
        ]
    },
    {
        "id": "7cd88a.35b45778",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Memoria Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Enrique \"&payload&\" MB\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 220,
        "wires": [
            [
                "8880d82a.61881"
            ]
        ]
    },
    {
        "id": "399be1bd.bb1da6",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Memoria ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Enrique \"&payload&\" MB\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 180,
        "wires": [
            [
                "8880d82a.61881"
            ]
        ]
    },
    {
        "id": "9b1c9f44.556348",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1070,
        "y": 120,
        "wires": [
            [
                "29c5c772.2d058"
            ]
        ]
    },
    {
        "id": "8880d82a.61881",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1070,
        "y": 200,
        "wires": [
            [
                "29c5c772.2d058"
            ]
        ]
    },
    {
        "id": "c2eff72e.febab",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "Tempe",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "enriq2grados",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "5a43cb3b.daf2cc"
            ],
            [
                "7183d91d.b75348"
            ]
        ]
    },
    {
        "id": "255e2ca6.b12b84",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "CPU",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "enriq2cpu",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "10556400.bc4e7c"
            ],
            [
                "517c242c.6da33c"
            ]
        ]
    },
    {
        "id": "b26105b.35910f8",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "Mem",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "enriq2mem",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "bff39847.943048"
            ],
            [
                "d319f4ed.d54588"
            ]
        ]
    },
    {
        "id": "7183d91d.b75348",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Enrique \"&payload&\" ºC\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 340,
        "wires": [
            [
                "8294772d.9236a"
            ]
        ]
    },
    {
        "id": "5a43cb3b.daf2cc",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Enrique \"&payload&\" ºC\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 300,
        "wires": [
            [
                "8294772d.9236a"
            ]
        ]
    },
    {
        "id": "517c242c.6da33c",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CPU Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Enrique \"&payload&\" %\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 420,
        "wires": [
            [
                "968e85ad.5d489"
            ]
        ]
    },
    {
        "id": "10556400.bc4e7c",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CPU ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Enrique \"&payload&\" %\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 380,
        "wires": [
            [
                "968e85ad.5d489"
            ]
        ]
    },
    {
        "id": "d319f4ed.d54588",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Memoria Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Enrique \"&payload&\" MB\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 500,
        "wires": [
            [
                "70dbf45a.e93d14"
            ]
        ]
    },
    {
        "id": "bff39847.943048",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Memoria ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Enrique \"&payload&\" MB\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 460,
        "wires": [
            [
                "70dbf45a.e93d14"
            ]
        ]
    },
    {
        "id": "8294772d.9236a",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1070,
        "y": 320,
        "wires": [
            [
                "123d0ea4.91b5f9"
            ]
        ]
    },
    {
        "id": "968e85ad.5d489",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "123d0ea4.91b5f9"
            ]
        ]
    },
    {
        "id": "70dbf45a.e93d14",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1070,
        "y": 480,
        "wires": [
            [
                "123d0ea4.91b5f9"
            ]
        ]
    },
    {
        "id": "30be189.5707be8",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "Tempe",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "eneko1grados",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1410,
        "y": 40,
        "wires": [
            [
                "4a3b6add.009b1c"
            ],
            [
                "6ef4dc6a.520b3c"
            ]
        ]
    },
    {
        "id": "741e1f74.aa0f98",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "CPU",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "eneko1cpu",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1410,
        "y": 120,
        "wires": [
            [
                "6003ba31.641dd4"
            ],
            [
                "17dd6667.de09b2"
            ]
        ]
    },
    {
        "id": "93daa90d.c1113",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "Mem",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "eneko1mem",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1410,
        "y": 200,
        "wires": [
            [
                "8b1a22f1.82805"
            ],
            [
                "14b2f8ee.6704d7"
            ]
        ]
    },
    {
        "id": "57db1867.6656b",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1730,
        "y": 40,
        "wires": [
            [
                "a1fd736f.a4d4c"
            ]
        ]
    },
    {
        "id": "6ef4dc6a.520b3c",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Eneko \"&payload&\" ºC\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 60,
        "wires": [
            [
                "57db1867.6656b"
            ]
        ]
    },
    {
        "id": "4a3b6add.009b1c",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Eneko \"&payload&\" ºC\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 20,
        "wires": [
            [
                "57db1867.6656b"
            ]
        ]
    },
    {
        "id": "17dd6667.de09b2",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CPU Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Eneko \"&payload&\" %\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 140,
        "wires": [
            [
                "fdcd7295.fd19"
            ]
        ]
    },
    {
        "id": "6003ba31.641dd4",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CPU ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Eneko \"&payload&\" %\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 100,
        "wires": [
            [
                "fdcd7295.fd19"
            ]
        ]
    },
    {
        "id": "14b2f8ee.6704d7",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Memoria Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Eneko \"&payload&\" MB\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 220,
        "wires": [
            [
                "f8b3b086.22c8d"
            ]
        ]
    },
    {
        "id": "8b1a22f1.82805",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Memoria ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 1 Eneko \"&payload&\" MB\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 180,
        "wires": [
            [
                "f8b3b086.22c8d"
            ]
        ]
    },
    {
        "id": "fdcd7295.fd19",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1730,
        "y": 120,
        "wires": [
            [
                "a1fd736f.a4d4c"
            ]
        ]
    },
    {
        "id": "f8b3b086.22c8d",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1730,
        "y": 200,
        "wires": [
            [
                "a1fd736f.a4d4c"
            ]
        ]
    },
    {
        "id": "c6375feb.96e82",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "Tempe",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "eneko2grados",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1410,
        "y": 320,
        "wires": [
            [
                "25a65489.77ae34"
            ],
            [
                "1cfbb682.e74c09"
            ]
        ]
    },
    {
        "id": "15f86cb0.40d78b",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "CPU",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "eneko2cpu",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1410,
        "y": 400,
        "wires": [
            [
                "ed3a2e03.55084"
            ],
            [
                "46912afd.6a39fc"
            ]
        ]
    },
    {
        "id": "481532b3.cb936c",
        "type": "switch",
        "z": "ce607311.f76b",
        "name": "Mem",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "eneko2mem",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1410,
        "y": 480,
        "wires": [
            [
                "3433dd56.b0676a"
            ],
            [
                "271f195c.5e1516"
            ]
        ]
    },
    {
        "id": "e93473e4.6e5d8",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1730,
        "y": 320,
        "wires": [
            [
                "c34134b4.fbe578"
            ]
        ]
    },
    {
        "id": "1cfbb682.e74c09",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Eneko \"&payload&\" ºC\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 340,
        "wires": [
            [
                "e93473e4.6e5d8"
            ]
        ]
    },
    {
        "id": "25a65489.77ae34",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Eneko \"&payload&\" ºC\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 300,
        "wires": [
            [
                "e93473e4.6e5d8"
            ]
        ]
    },
    {
        "id": "46912afd.6a39fc",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CPU Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Eneko \"&payload&\" %\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 420,
        "wires": [
            [
                "3c5e4974.6f5fce"
            ]
        ]
    },
    {
        "id": "ed3a2e03.55084",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CPU ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Eneko \"&payload&\" %\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 380,
        "wires": [
            [
                "3c5e4974.6f5fce"
            ]
        ]
    },
    {
        "id": "271f195c.5e1516",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Memoria Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Eneko \"&payload&\" MB\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 500,
        "wires": [
            [
                "d5e632dd.df4558"
            ]
        ]
    },
    {
        "id": "3433dd56.b0676a",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ALTA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Memoria ALTA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"Raspi 2 Eneko \"&payload&\" MB\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 460,
        "wires": [
            [
                "d5e632dd.df4558"
            ]
        ]
    },
    {
        "id": "3c5e4974.6f5fce",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1730,
        "y": 400,
        "wires": [
            [
                "c34134b4.fbe578"
            ]
        ]
    },
    {
        "id": "d5e632dd.df4558",
        "type": "rbe",
        "z": "ce607311.f76b",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "topic",
        "x": 1730,
        "y": 480,
        "wires": [
            [
                "c34134b4.fbe578"
            ]
        ]
    },
    {
        "id": "29c5c772.2d058",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "send",
        "links": [
            "76ce4089.47ba"
        ],
        "x": 1215,
        "y": 120,
        "wires": []
    },
    {
        "id": "123d0ea4.91b5f9",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "send",
        "links": [
            "76ce4089.47ba"
        ],
        "x": 1215,
        "y": 400,
        "wires": []
    },
    {
        "id": "a1fd736f.a4d4c",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "send",
        "links": [
            "76ce4089.47ba"
        ],
        "x": 1875,
        "y": 120,
        "wires": []
    },
    {
        "id": "c34134b4.fbe578",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "send",
        "links": [
            "76ce4089.47ba"
        ],
        "x": 1875,
        "y": 400,
        "wires": []
    },
    {
        "id": "76ce4089.47ba",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "send",
        "links": [
            "a1fd736f.a4d4c",
            "c34134b4.fbe578",
            "123d0ea4.91b5f9",
            "29c5c772.2d058",
            "4bd19293.e863e4"
        ],
        "x": 1975,
        "y": 260,
        "wires": [
            [
                "40fe4a54.ce95a4",
                "2fad9667.30684a"
            ]
        ]
    },
    {
        "id": "a33746a3.afd7c8",
        "type": "inject",
        "z": "ce607311.f76b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "82bd0800.901938"
            ]
        ]
    },
    {
        "id": "fa2bb70a.a5ad78",
        "type": "file",
        "z": "ce607311.f76b",
        "name": "overwrite",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/ultimaDireccion.txt",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 440,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "82bd0800.901938",
        "type": "file in",
        "z": "ce607311.f76b",
        "name": "read",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/ultimaDireccion.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "b0142b5a.da944",
                "8037bdba.66696"
            ]
        ]
    },
    {
        "id": "7a317a52.fde744",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.email",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "fa2bb70a.a5ad78",
                "8037bdba.66696",
                "b0142b5a.da944"
            ]
        ]
    },
    {
        "id": "b0142b5a.da944",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "ultimaDireccion",
        "rules": [
            {
                "t": "set",
                "p": "ultimaDireccion",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c4fcd7b4.29ef7",
        "type": "function",
        "z": "b5696046.c03b1",
        "name": "",
        "func": "var usr_disp = msg.topic;\nvar usr_disp_par = usr_disp + \"grados\";\nvar nuevoValor = msg.payload;\nmsg.payload ={\"command\": \"updateData\",\n\"arguments\": [[\n{\n\"id\":usr_disp_par,\n\"Valor Alerta\":nuevoValor\n}\n]]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1480,
        "wires": [
            [
                "a531e1de.56e95"
            ]
        ]
    },
    {
        "id": "606d46a.ddb7a38",
        "type": "inject",
        "z": "b5696046.c03b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "df8d294d.f2fa5"
            ]
        ]
    },
    {
        "id": "54a3f0d4.893198",
        "type": "function",
        "z": "b5696046.c03b1",
        "name": "",
        "func": "var usr_disp = msg.topic;\nvar usr_disp_par = usr_disp + \"cpu\";\nvar nuevoValor = msg.payload;\nmsg.payload ={\"command\": \"updateData\",\n\"arguments\": [[\n{\n\"id\":usr_disp_par,\n\"Valor Alerta\":nuevoValor\n}\n]]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1540,
        "wires": [
            [
                "a531e1de.56e95"
            ]
        ]
    },
    {
        "id": "f560897c.6e3228",
        "type": "function",
        "z": "b5696046.c03b1",
        "name": "",
        "func": "var usr_disp = msg.topic;\nvar usr_disp_par = usr_disp + \"mem\";\nvar nuevoValor = msg.payload;\nmsg.payload ={\"command\": \"updateData\",\n\"arguments\": [[\n{\n\"id\":usr_disp_par,\n\"Valor Alerta\":nuevoValor\n}\n]]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1600,
        "wires": [
            [
                "a531e1de.56e95"
            ]
        ]
    },
    {
        "id": "5032a06d.eaabd8",
        "type": "link in",
        "z": "b5696046.c03b1",
        "name": "T_cpu",
        "links": [
            "567dea42.141b04"
        ],
        "x": 95,
        "y": 1540,
        "wires": [
            [
                "54a3f0d4.893198"
            ]
        ]
    },
    {
        "id": "81f82584.ff2ac",
        "type": "link in",
        "z": "b5696046.c03b1",
        "name": "T_mem",
        "links": [
            "fa6541a0.53c01"
        ],
        "x": 95,
        "y": 1600,
        "wires": [
            [
                "f560897c.6e3228"
            ]
        ]
    },
    {
        "id": "a3645fcf.1b1d78",
        "type": "comment",
        "z": "b5696046.c03b1",
        "name": "Slider de temperatura a global y a table",
        "info": "",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "517a0b29.fae794",
        "type": "comment",
        "z": "b5696046.c03b1",
        "name": "Slider de CPU a global y a table",
        "info": "",
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "8d9c45b.2e017b8",
        "type": "comment",
        "z": "b5696046.c03b1",
        "name": "Slider de Memoria a global y a table",
        "info": "",
        "x": 560,
        "y": 860,
        "wires": []
    },
    {
        "id": "10f55d8b.986e32",
        "type": "comment",
        "z": "b5696046.c03b1",
        "name": "Dropdown de Usuario y dispositivo a flow y a slider",
        "info": "",
        "x": 290,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d7d2a014.9cb978",
        "type": "comment",
        "z": "b5696046.c03b1",
        "name": "Cambio en slider a  table",
        "info": "",
        "x": 190,
        "y": 1360,
        "wires": []
    },
    {
        "id": "5260fc39.32c134",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko2mem",
        "links": [
            "f32e2e2.a53445"
        ],
        "x": 875,
        "y": 1000,
        "wires": [
            [
                "d79a1de9.4a6cb",
                "6b3c03ce.c5ee1c"
            ]
        ]
    },
    {
        "id": "f32e2e2.a53445",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Eneko2mem",
        "links": [
            "5260fc39.32c134",
            "4b55a820.cd5268",
            "e054bf60.1e649"
        ],
        "x": 695,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4b55a820.cd5268",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko2mem",
        "links": [
            "f32e2e2.a53445"
        ],
        "x": 1315,
        "y": 480,
        "wires": [
            [
                "481532b3.cb936c"
            ]
        ]
    },
    {
        "id": "7d7b51c2.3027d",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko2cpu",
        "links": [
            "50f0eaa.3799094"
        ],
        "x": 875,
        "y": 960,
        "wires": [
            [
                "307bbe05.1e9a72",
                "346bbdf7.3fb212"
            ]
        ]
    },
    {
        "id": "3edafdb4.bb22fa",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko2cpu",
        "links": [
            "50f0eaa.3799094"
        ],
        "x": 1315,
        "y": 400,
        "wires": [
            [
                "15f86cb0.40d78b"
            ]
        ]
    },
    {
        "id": "50f0eaa.3799094",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Eneko2cpu",
        "links": [
            "3edafdb4.bb22fa",
            "7d7b51c2.3027d",
            "59f715c8.a5e734"
        ],
        "x": 695,
        "y": 960,
        "wires": []
    },
    {
        "id": "983abf2c.24658",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko2grados",
        "links": [
            "c2f39faa.518bc"
        ],
        "x": 875,
        "y": 920,
        "wires": [
            [
                "1370b10d.e14f3f",
                "b84f6d36.e2e7e"
            ]
        ]
    },
    {
        "id": "7d6c99e4.ccb74",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko2grados",
        "links": [
            "c2f39faa.518bc"
        ],
        "x": 1315,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c2f39faa.518bc",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Eneko2grados",
        "links": [
            "983abf2c.24658",
            "7d6c99e4.ccb74",
            "9686de03.8f2be8"
        ],
        "x": 695,
        "y": 920,
        "wires": []
    },
    {
        "id": "164b0501.92993b",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Eneko1mem",
        "links": [
            "15939bfa.78650c",
            "f26ae714.83831",
            "637bf14e.97f2d"
        ],
        "x": 695,
        "y": 880,
        "wires": []
    },
    {
        "id": "eec8b02.e6fa4d",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Eneko1cpu",
        "links": [
            "9467d574.996788",
            "d6a32b09.1ac4f8",
            "8e208f98.3d44f"
        ],
        "x": 695,
        "y": 840,
        "wires": []
    },
    {
        "id": "79bff079.c8b62",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Eneko1grados",
        "links": [
            "81da0394.fffcd",
            "6ccde74d.af76f",
            "96ec0c.be5ce3f8"
        ],
        "x": 695,
        "y": 800,
        "wires": []
    },
    {
        "id": "15939bfa.78650c",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko1mem",
        "links": [
            "164b0501.92993b"
        ],
        "x": 875,
        "y": 880,
        "wires": [
            [
                "cd583a59.c1bab8",
                "56c1125c.763e8c"
            ]
        ]
    },
    {
        "id": "9467d574.996788",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko1cpu",
        "links": [
            "eec8b02.e6fa4d"
        ],
        "x": 875,
        "y": 840,
        "wires": [
            [
                "de0a1c2e.54af6",
                "7d1c5660.a487c8"
            ]
        ]
    },
    {
        "id": "81da0394.fffcd",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko1grados",
        "links": [
            "79bff079.c8b62"
        ],
        "x": 875,
        "y": 800,
        "wires": [
            [
                "87fa9616.6b4048",
                "63b0665.364f598"
            ]
        ]
    },
    {
        "id": "f26ae714.83831",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko1mem",
        "links": [
            "164b0501.92993b"
        ],
        "x": 1315,
        "y": 200,
        "wires": [
            [
                "93daa90d.c1113"
            ]
        ]
    },
    {
        "id": "d6a32b09.1ac4f8",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko1cpu",
        "links": [
            "eec8b02.e6fa4d"
        ],
        "x": 1315,
        "y": 120,
        "wires": [
            [
                "741e1f74.aa0f98"
            ]
        ]
    },
    {
        "id": "6ccde74d.af76f",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko1grados",
        "links": [
            "79bff079.c8b62"
        ],
        "x": 1315,
        "y": 40,
        "wires": [
            [
                "30be189.5707be8"
            ]
        ]
    },
    {
        "id": "9686de03.8f2be8",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko1grados",
        "links": [
            "c2f39faa.518bc"
        ],
        "x": 1295,
        "y": 940,
        "wires": [
            [
                "48b54669.b667d8"
            ]
        ]
    },
    {
        "id": "59f715c8.a5e734",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko1cpu",
        "links": [
            "50f0eaa.3799094"
        ],
        "x": 1295,
        "y": 980,
        "wires": [
            [
                "48b54669.b667d8"
            ]
        ]
    },
    {
        "id": "e054bf60.1e649",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko1mem",
        "links": [
            "f32e2e2.a53445"
        ],
        "x": 1295,
        "y": 1020,
        "wires": [
            [
                "48b54669.b667d8"
            ]
        ]
    },
    {
        "id": "48b54669.b667d8",
        "type": "smooth",
        "z": "ce607311.f76b",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "1",
        "mult": "multi",
        "reduce": true,
        "x": 1440,
        "y": 980,
        "wires": [
            [
                "c6dbe6dd.3a96e"
            ]
        ]
    },
    {
        "id": "f3355a96.6efb08",
        "type": "join",
        "z": "ce607311.f76b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "4",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1750,
        "y": 980,
        "wires": [
            [
                "b188fad8.c0fd9"
            ]
        ]
    },
    {
        "id": "b188fad8.c0fd9",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()&\",\"&msg.payload\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1920,
        "y": 980,
        "wires": [
            [
                "86b92006.84b4f"
            ]
        ]
    },
    {
        "id": "86b92006.84b4f",
        "type": "file",
        "z": "ce607311.f76b",
        "name": "Eneko_2",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Eneko/raspberrypi2.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2100,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "c6dbe6dd.3a96e",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "if (msg.topic===\"aprendiendonodered21/Eneko/raspberrypi2/Temperatura\"){\n    msg.parts = {id:\"Eneko/raspberrypi2\",index:0,count:3};\n}\nif (msg.topic===\"aprendiendonodered21/Eneko/raspberrypi2/CPU\"){\n    msg.parts = {id:\"Eneko/raspberrypi2\",index:1,count:3};\n}\nif (msg.topic===\"aprendiendonodered21/Eneko/raspberrypi2/Memory\"){\n    msg.parts = {id:\"Eneko/raspberrypi2\",index:2,count:3};\n}\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 980,
        "wires": [
            [
                "f3355a96.6efb08"
            ]
        ]
    },
    {
        "id": "e386eab2.0303c8",
        "type": "file",
        "z": "ce607311.f76b",
        "name": "iniciar_Archivo",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Enrique/raspberrypi1.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2120,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "8e208f98.3d44f",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko2cpu",
        "links": [
            "eec8b02.e6fa4d"
        ],
        "x": 1295,
        "y": 860,
        "wires": [
            [
                "4053b691.5b9db8"
            ]
        ]
    },
    {
        "id": "637bf14e.97f2d",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko2mem",
        "links": [
            "164b0501.92993b"
        ],
        "x": 1295,
        "y": 900,
        "wires": [
            [
                "4053b691.5b9db8"
            ]
        ]
    },
    {
        "id": "4053b691.5b9db8",
        "type": "smooth",
        "z": "ce607311.f76b",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "2",
        "round": "1",
        "mult": "multi",
        "reduce": true,
        "x": 1440,
        "y": 860,
        "wires": [
            [
                "6188ee3a.7ace28"
            ]
        ]
    },
    {
        "id": "35e74382.616c64",
        "type": "join",
        "z": "ce607311.f76b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "4",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1750,
        "y": 860,
        "wires": [
            [
                "3e8eca2c.10bad6"
            ]
        ]
    },
    {
        "id": "3e8eca2c.10bad6",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()&\",\"&msg.payload\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1920,
        "y": 860,
        "wires": [
            [
                "c87b4c67.28914"
            ]
        ]
    },
    {
        "id": "c87b4c67.28914",
        "type": "file",
        "z": "ce607311.f76b",
        "name": "Eneko_1",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Eneko/raspberrypi1.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2100,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "6188ee3a.7ace28",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "if (msg.topic===\"aprendiendonodered21/Eneko/raspberrypi1/Temperatura\"){\n    msg.parts = {id:\"Eneko/raspberrypi1\",index:0,count:3};\n}\nif (msg.topic===\"aprendiendonodered21/Eneko/raspberrypi1/CPU\"){\n    msg.parts = {id:\"Eneko/raspberrypi1\",index:1,count:3};\n}\nif (msg.topic===\"aprendiendonodered21/Eneko/raspberrypi1/Memory\"){\n    msg.parts = {id:\"Eneko/raspberrypi1\",index:2,count:3};\n}\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 860,
        "wires": [
            [
                "35e74382.616c64"
            ]
        ]
    },
    {
        "id": "5d9b6249.50f46c",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique2grados",
        "links": [
            "c9fddd04.3bda8"
        ],
        "x": 1295,
        "y": 700,
        "wires": [
            [
                "79887d8d.57d04c"
            ]
        ]
    },
    {
        "id": "9d0d8a83.f9d788",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique2cpu",
        "links": [
            "5780dc17.8c0cf4"
        ],
        "x": 1295,
        "y": 740,
        "wires": [
            [
                "79887d8d.57d04c"
            ]
        ]
    },
    {
        "id": "598014ca.2cc87c",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique2mem",
        "links": [
            "1a466f9.69f279"
        ],
        "x": 1295,
        "y": 780,
        "wires": [
            [
                "79887d8d.57d04c"
            ]
        ]
    },
    {
        "id": "79887d8d.57d04c",
        "type": "smooth",
        "z": "ce607311.f76b",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "3",
        "round": "1",
        "mult": "multi",
        "reduce": true,
        "x": 1440,
        "y": 740,
        "wires": [
            [
                "8e1b4742.8b7dd"
            ]
        ]
    },
    {
        "id": "c2eed82a.c9742",
        "type": "join",
        "z": "ce607311.f76b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "4",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1750,
        "y": 740,
        "wires": [
            [
                "2bedcd2.e4f6e32"
            ]
        ]
    },
    {
        "id": "2bedcd2.e4f6e32",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()&\",\"&msg.payload\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1920,
        "y": 740,
        "wires": [
            [
                "25cbcc39.70b754"
            ]
        ]
    },
    {
        "id": "25cbcc39.70b754",
        "type": "file",
        "z": "ce607311.f76b",
        "name": "Enrique_2",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Enrique/raspberrypi2.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2110,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8e1b4742.8b7dd",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "if (msg.topic===\"aprendiendonodered21/enrique/raspberrypi2/enrique/Temperatura\"){\n    msg.parts = {id:\"Enrique/raspberrypi2\",index:0,count:3};\n}\nif (msg.topic===\"aprendiendonodered21/enrique/raspberrypi2/enrique/CPU\"){\n    msg.parts = {id:\"Enrique/raspberrypi2\",index:1,count:3};\n}\nif (msg.topic===\"aprendiendonodered21/enrique/raspberrypi2/enrique/Memory\"){\n    msg.parts = {id:\"Enrique/raspberrypi2\",index:2,count:3};\n}\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 740,
        "wires": [
            [
                "c2eed82a.c9742"
            ]
        ]
    },
    {
        "id": "6cdce0c5.36c48",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique1grados",
        "links": [
            "17ea4f3c.4d6fd1"
        ],
        "x": 1295,
        "y": 580,
        "wires": [
            [
                "c9c6c2d.3dbd64"
            ]
        ]
    },
    {
        "id": "7e760fc0.5c715",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique1cpu",
        "links": [
            "6adeff4b.6b1bd"
        ],
        "x": 1295,
        "y": 620,
        "wires": [
            [
                "c9c6c2d.3dbd64"
            ]
        ]
    },
    {
        "id": "adc6c96a.d3bec",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique1mem",
        "links": [
            "12f128fc.c3383f"
        ],
        "x": 1295,
        "y": 660,
        "wires": [
            [
                "c9c6c2d.3dbd64"
            ]
        ]
    },
    {
        "id": "c9c6c2d.3dbd64",
        "type": "smooth",
        "z": "ce607311.f76b",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "3",
        "round": "1",
        "mult": "multi",
        "reduce": true,
        "x": 1440,
        "y": 620,
        "wires": [
            [
                "f4293510.934c1"
            ]
        ]
    },
    {
        "id": "b22cf6a5.cdf2d8",
        "type": "join",
        "z": "ce607311.f76b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "4",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1750,
        "y": 620,
        "wires": [
            [
                "bc52a0f3.302c6"
            ]
        ]
    },
    {
        "id": "bc52a0f3.302c6",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()&\",\"&msg.payload\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1920,
        "y": 620,
        "wires": [
            [
                "39ac3f50.a89c5"
            ]
        ]
    },
    {
        "id": "39ac3f50.a89c5",
        "type": "file",
        "z": "ce607311.f76b",
        "name": "Enrique_1",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Enrique/raspberrypi1.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2110,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f4293510.934c1",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "if (msg.topic===\"aprendiendonodered21/enrique/raspberrypi1/enrique/Temperatura\"){\n    msg.parts = {id:\"Enrique/raspberrypi1\",index:0,count:3};\n}\nif (msg.topic===\"aprendiendonodered21/enrique/raspberrypi1/enrique/CPU\"){\n    msg.parts = {id:\"Enrique/raspberrypi1\",index:1,count:3};\n}\nif (msg.topic===\"aprendiendonodered21/enrique/raspberrypi1/enrique/Memory\"){\n    msg.parts = {id:\"Enrique/raspberrypi1\",index:2,count:3};\n}\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 620,
        "wires": [
            [
                "b22cf6a5.cdf2d8"
            ]
        ]
    },
    {
        "id": "96ec0c.be5ce3f8",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Eneko2grados",
        "links": [
            "79bff079.c8b62"
        ],
        "x": 1295,
        "y": 820,
        "wires": [
            [
                "4053b691.5b9db8"
            ]
        ]
    },
    {
        "id": "1a466f9.69f279",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Enrique2mem",
        "links": [
            "598014ca.2cc87c",
            "7335fe68.980a9",
            "6771775d.3862d8"
        ],
        "x": 695,
        "y": 760,
        "wires": []
    },
    {
        "id": "5780dc17.8c0cf4",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Enriqu2cpu",
        "links": [
            "28b908a9.4055d",
            "9d0d8a83.f9d788",
            "e9a6c72b.6a2c18"
        ],
        "x": 695,
        "y": 720,
        "wires": []
    },
    {
        "id": "c9fddd04.3bda8",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Enrique2grados",
        "links": [
            "5d9b6249.50f46c",
            "db4c39af.fa8a2",
            "dcea9d93.6cdf9"
        ],
        "x": 695,
        "y": 680,
        "wires": []
    },
    {
        "id": "7335fe68.980a9",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique2mem",
        "links": [
            "1a466f9.69f279"
        ],
        "x": 875,
        "y": 760,
        "wires": [
            [
                "4292e656.70df28",
                "30480cd2.6ec594"
            ]
        ]
    },
    {
        "id": "28b908a9.4055d",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique2cpu",
        "links": [
            "5780dc17.8c0cf4"
        ],
        "x": 875,
        "y": 720,
        "wires": [
            [
                "b48c02ed.1b35e",
                "eec60900.894828"
            ]
        ]
    },
    {
        "id": "db4c39af.fa8a2",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique2grados",
        "links": [
            "c9fddd04.3bda8"
        ],
        "x": 875,
        "y": 680,
        "wires": [
            [
                "1e2ceae2.adde75",
                "b641af7f.2241"
            ]
        ]
    },
    {
        "id": "17ea4f3c.4d6fd1",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Enrique1grados",
        "links": [
            "5d92725d.ac63dc",
            "c0fd88c3.faada",
            "6cdce0c5.36c48"
        ],
        "x": 695,
        "y": 560,
        "wires": []
    },
    {
        "id": "6adeff4b.6b1bd",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Enrique1cpu",
        "links": [
            "6dfb01fb.1ef71",
            "cfa233fa.b916b8",
            "7e760fc0.5c715"
        ],
        "x": 695,
        "y": 600,
        "wires": []
    },
    {
        "id": "12f128fc.c3383f",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "Enrique1mem",
        "links": [
            "ebaf89ab.f8ff48",
            "1304d00a.e742e",
            "adc6c96a.d3bec"
        ],
        "x": 695,
        "y": 640,
        "wires": []
    },
    {
        "id": "e9a6c72b.6a2c18",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique2cpu",
        "links": [
            "5780dc17.8c0cf4"
        ],
        "x": 635,
        "y": 400,
        "wires": [
            [
                "255e2ca6.b12b84"
            ]
        ]
    },
    {
        "id": "dcea9d93.6cdf9",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique2grados",
        "links": [
            "c9fddd04.3bda8"
        ],
        "x": 635,
        "y": 320,
        "wires": [
            [
                "c2eff72e.febab"
            ]
        ]
    },
    {
        "id": "6771775d.3862d8",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique2mem",
        "links": [
            "1a466f9.69f279"
        ],
        "x": 635,
        "y": 480,
        "wires": [
            [
                "b26105b.35910f8"
            ]
        ]
    },
    {
        "id": "6dfb01fb.1ef71",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique1cpu",
        "links": [
            "6adeff4b.6b1bd"
        ],
        "x": 635,
        "y": 120,
        "wires": [
            [
                "dbcb901.cd6b97"
            ]
        ]
    },
    {
        "id": "5d92725d.ac63dc",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique1grados",
        "links": [
            "17ea4f3c.4d6fd1"
        ],
        "x": 635,
        "y": 40,
        "wires": [
            [
                "983ecc19.0e5d7"
            ]
        ]
    },
    {
        "id": "ebaf89ab.f8ff48",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique1mem",
        "links": [
            "12f128fc.c3383f"
        ],
        "x": 635,
        "y": 200,
        "wires": [
            [
                "90510443.05e9f8"
            ]
        ]
    },
    {
        "id": "1304d00a.e742e",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique1mem",
        "links": [
            "12f128fc.c3383f"
        ],
        "x": 875,
        "y": 640,
        "wires": [
            [
                "190840fe.16e71f",
                "7185ea61.328404"
            ]
        ]
    },
    {
        "id": "cfa233fa.b916b8",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique1cpu",
        "links": [
            "6adeff4b.6b1bd"
        ],
        "x": 875,
        "y": 600,
        "wires": [
            [
                "a9a6e4a7.a86ad8",
                "500abb72.51a174"
            ]
        ]
    },
    {
        "id": "c0fd88c3.faada",
        "type": "link in",
        "z": "ce607311.f76b",
        "name": "Enrique1grados",
        "links": [
            "17ea4f3c.4d6fd1"
        ],
        "x": 875,
        "y": 560,
        "wires": [
            [
                "c7515d53.a95fe",
                "e555b1c1.42929"
            ]
        ]
    },
    {
        "id": "a97421f4.d8dde",
        "type": "file",
        "z": "ce607311.f76b",
        "name": "iniciar_Archivo",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Enrique/raspberrypi2.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2120,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "43f7ab10.047ad4",
        "type": "file",
        "z": "ce607311.f76b",
        "name": "iniciar_Archivo",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Eneko/raspberrypi1.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2120,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "a5af2608.8539e",
        "type": "file",
        "z": "ce607311.f76b",
        "name": "iniciar_Archivo",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Eneko/raspberrypi2.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2120,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "aac227ac.263e3",
        "type": "comment",
        "z": "ce607311.f76b",
        "name": "Registrar solo el promedio de X lecturas",
        "info": "1 smooth-node recibe 5 mensajes de cada uno de los 3 topics, entonces envia 3 mensajes con los 3 promedios.\n2 function-node ordena el index Tempe(0), cpu(1), mem(2) y quita el topic.\n3 join-node crea la string csv. Tiene timeout 4 segundos, envia aunque falte uno o dos datos.\n4 change-node anade el timestamp al pricipio.\n5 file-node anade la string al final del archivo con linea nueva.",
        "x": 1750,
        "y": 680,
        "wires": []
    },
    {
        "id": "cc82ea3f.24f1a",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "//declaro tres arrays que llenare en los tres ciclos for\nvar serie2 = [];\nvar serie3 = [];\nvar serie4 = [];\n//es mas comodo tener len para los tres ciclos for\nvar len = msg.payload.length;\n//de str sacare las tres comas y los tres nombres de columna\nvar str = msg.columns;\nvar pos1 = str.indexOf(\",\");\nvar pos2 = str.indexOf(\",\", pos1+1);\nvar pos3 = str.indexOf(\",\", pos2+1);\nvar nombreColumna2 = str.substring(pos1+1, pos2);\nvar nombreColumna3 = str.substring(pos2+1, pos3);\nvar nombreColumna4 = str.substring(pos3+1);\n//lleno los arrays, aunque timesatamp es comun, hay que ponerlo\nfor(var i = 0; i < len; i++){\n    serie2[i] = {\"x\":msg.payload[i].timestamp,\"y\":msg.payload[i][nombreColumna2]};\n}\nfor(i = 0; i < len; i++){\n    serie3[i] = {\"x\":msg.payload[i].timestamp,\"y\":msg.payload[i][nombreColumna3]};\n}\nfor(i = 0; i < len; i++){\n    serie4[i] = {\"x\":msg.payload[i].timestamp,\"y\":msg.payload[i][nombreColumna4]};\n}\n//con \"series\" y \"data\" ya preparadas, solo tengo que\n//colocar las tres variables y arrays en su sitio\nvar chart = [{\n    \"series\":[nombreColumna2, nombreColumna3, nombreColumna4],\n    \"data\":[serie2, serie3, serie4],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1100,
        "wires": [
            [
                "b592bbf8.5af4c"
            ]
        ]
    },
    {
        "id": "b592bbf8.5af4c",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "chart_3_series",
        "group": "57b0108b.363f88",
        "order": 1,
        "width": 15,
        "height": 6,
        "label": "Temperatura_CPU_Memoria",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Temperatura_CPU_Memoria",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d20000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "d1a0f31f.f6e59",
        "type": "csv",
        "z": "ce607311.f76b",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 510,
        "y": 1160,
        "wires": [
            [
                "cc82ea3f.24f1a",
                "32a75f7b.203358",
                "90696275.15d86",
                "7934f21a.b55efc",
                "760f03d1.51b934"
            ]
        ]
    },
    {
        "id": "33224840.7ad22",
        "type": "file in",
        "z": "ce607311.f76b",
        "name": "file_in",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Enrique/raspberrypi1.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "d1a0f31f.f6e59"
            ]
        ]
    },
    {
        "id": "32a75f7b.203358",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "var serie = [];\nvar len = msg.payload.length;\nvar str = msg.columns;\nvar pos1 = str.indexOf(\",\");\nvar pos2 = str.indexOf(\",\", pos1+1);\nvar pos3 = str.indexOf(\",\", pos2+1);\nvar nombreColumna2 = str.substring(pos1+1, pos2);\nvar nombreColumna3 = str.substring(pos2+1, pos3);\nvar nombreColumna4 = str.substring(pos3+1);\n//lleno los arrays, aunque timesatamp es comun, hay que ponerlo\nfor(var i = 0; i < len; i++){\n    serie[i] = {\"x\":msg.payload[i].timestamp,\"y\":msg.payload[i][nombreColumna2]};\n}\nvar chart = [{\n    \"series\":[nombreColumna2],\n    \"data\":[serie],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1140,
        "wires": [
            [
                "9d5fb6f4.cd6578"
            ]
        ]
    },
    {
        "id": "9d5fb6f4.cd6578",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "chart_Temperatura",
        "group": "57b0108b.363f88",
        "order": 2,
        "width": 5,
        "height": 3,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Temperatura",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d20000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 870,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "90696275.15d86",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "var serie = [];\nvar len = msg.payload.length;\nvar str = msg.columns;\nvar pos1 = str.indexOf(\",\");\nvar pos2 = str.indexOf(\",\", pos1+1);\nvar pos3 = str.indexOf(\",\", pos2+1);\nvar nombreColumna2 = str.substring(pos1+1, pos2);\nvar nombreColumna3 = str.substring(pos2+1, pos3);\nvar nombreColumna4 = str.substring(pos3+1);\n//lleno los arrays, aunque timesatamp es comun, hay que ponerlo\nfor(var i = 0; i < len; i++){\n    serie[i] = {\"x\":msg.payload[i].timestamp,\"y\":msg.payload[i][nombreColumna3]};\n}\nvar chart = [{\n    \"series\":[nombreColumna3],\n    \"data\":[serie],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1180,
        "wires": [
            [
                "ba938fed.d1626"
            ]
        ]
    },
    {
        "id": "ba938fed.d1626",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "chart_CPU",
        "group": "57b0108b.363f88",
        "order": 3,
        "width": 5,
        "height": 3,
        "label": "CPU",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "CPU",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#aec7e8",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 850,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "7934f21a.b55efc",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "var serie = [];\nvar len = msg.payload.length;\nvar str = msg.columns;\nvar pos1 = str.indexOf(\",\");\nvar pos2 = str.indexOf(\",\", pos1+1);\nvar pos3 = str.indexOf(\",\", pos2+1);\nvar nombreColumna2 = str.substring(pos1+1, pos2);\nvar nombreColumna3 = str.substring(pos2+1, pos3);\nvar nombreColumna4 = str.substring(pos3+1);\n//lleno los arrays, aunque timesatamp es comun, hay que ponerlo\nfor(var i = 0; i < len; i++){\n    serie[i] = {\"x\":msg.payload[i].timestamp,\"y\":msg.payload[i][nombreColumna4]};\n}\nvar chart = [{\n    \"series\":[nombreColumna4],\n    \"data\":[serie],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1220,
        "wires": [
            [
                "d5625a1f.7a7d48"
            ]
        ]
    },
    {
        "id": "d5625a1f.7a7d48",
        "type": "ui_chart",
        "z": "ce607311.f76b",
        "name": "chart_Memoria",
        "group": "57b0108b.363f88",
        "order": 4,
        "width": 5,
        "height": 3,
        "label": "Memoria",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Memoria",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "a771136a.7d3348",
        "type": "ui_button",
        "z": "ce607311.f76b",
        "name": "",
        "group": "189e3a36.d76d66",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Enrique_RasPi_1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "33224840.7ad22"
            ]
        ]
    },
    {
        "id": "a4f212f2.d5b99",
        "type": "ui_button",
        "z": "ce607311.f76b",
        "name": "",
        "group": "189e3a36.d76d66",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Enrique_RasPi_2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1140,
        "wires": [
            [
                "63c21709.7b3448"
            ]
        ]
    },
    {
        "id": "f01e3eea.3cf9c",
        "type": "ui_button",
        "z": "ce607311.f76b",
        "name": "",
        "group": "189e3a36.d76d66",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Eneko_RasPi_1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1180,
        "wires": [
            [
                "c565cd96.67b92"
            ]
        ]
    },
    {
        "id": "d3845a46.03ed4",
        "type": "ui_button",
        "z": "ce607311.f76b",
        "name": "",
        "group": "189e3a36.d76d66",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Eneko_RasPi_2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1220,
        "wires": [
            [
                "e3436f41.09abf8"
            ]
        ]
    },
    {
        "id": "63c21709.7b3448",
        "type": "file in",
        "z": "ce607311.f76b",
        "name": "file_in",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Enrique/raspberrypi2.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "d1a0f31f.f6e59"
            ]
        ]
    },
    {
        "id": "c565cd96.67b92",
        "type": "file in",
        "z": "ce607311.f76b",
        "name": "file_in",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Eneko/raspberrypi1.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 350,
        "y": 1180,
        "wires": [
            [
                "d1a0f31f.f6e59"
            ]
        ]
    },
    {
        "id": "e3436f41.09abf8",
        "type": "file in",
        "z": "ce607311.f76b",
        "name": "file_in",
        "filename": "/home/pi/.node-red/projects/proyectoAlexFin/aprendiendonodered21/Eneko/raspberrypi2.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 350,
        "y": 1220,
        "wires": [
            [
                "d1a0f31f.f6e59"
            ]
        ]
    },
    {
        "id": "f06ee7f7.0dbc68",
        "type": "ui_toast",
        "z": "ce607311.f76b",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Aceptar",
        "cancel": "Cancelar",
        "raw": false,
        "topic": "",
        "name": "ATENCION",
        "x": 1730,
        "y": 1140,
        "wires": [
            [
                "37d4978a.a04268"
            ]
        ]
    },
    {
        "id": "37d4978a.a04268",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "if (msg.payload===\"1234\"){\n    msg.payload = \"timestamp,Temp,CPU,Memo\";\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 1140,
        "wires": [
            [
                "e386eab2.0303c8",
                "a97421f4.d8dde",
                "43f7ab10.047ad4",
                "a5af2608.8539e"
            ]
        ]
    },
    {
        "id": "a25c6c7a.163338",
        "type": "comment",
        "z": "ce607311.f76b",
        "name": "Reiniciar archivos con advertencia",
        "info": "",
        "x": 1740,
        "y": 1100,
        "wires": []
    },
    {
        "id": "58145a3d.bfa804",
        "type": "comment",
        "z": "ce607311.f76b",
        "name": "Graficar un archivo",
        "info": "Leo el archivo elegido.\nLo paso a csv (con array[] y msg.columns)\nEn el csv-node se ha elegido:\n-first row contains column names\n-parse numerical values.\nY hago 4 charts, uno grande y 3 pequenos.\n\nLa unica forma de graficar los datos guardados en un csv es pasarle al chart-node un array especial en el payload.\nhttps://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n\nInput (desde el csv-node) payload: array[] con length igual a numero de filas, columns: string con los nombres de columna separados por coma, es decir, la primera fila.\n\noutput (de los function-node) un array que contiene un objeto que contiene 3 arrays [{series[], data[], labels[]}]\n\n\nDebajo se ha puesto una funcion muy simple para que se entienda. Los tiempos son los primeros segundos y milisegundos del tiempo epoch.\n\nvar chart = [{\n    \"series\":[\"Tempe\"],\n    \"data\":[[\n    {\"x\":0,\"y\":20},\n    {\"x\":1000,\"y\":20.5},\n    {\"x\":2000,\"y\":19.5},\n    {\"x\":9000,\"y\":20},\n    {\"x\":9250,\"y\":20},\n    {\"x\":9500,\"y\":20},\n    {\"x\":9750,\"y\":20},\n    {\"x\":12000,\"y\":20},\n    {\"x\":13000,\"y\":21},\n    {\"x\":14000,\"y\":21},\n    {\"x\":15000,\"y\":20},\n    {\"x\":16000,\"y\":23},\n    {\"x\":17000,\"y\":22},\n    {\"x\":18000,\"y\":23}\n    ]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "x": 290,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b7cf9d3f.914e78",
        "type": "ui_text",
        "z": "ce607311.f76b",
        "group": "189e3a36.d76d66",
        "order": 3,
        "width": 7,
        "height": 2,
        "name": "filename info",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 990,
        "y": 1280,
        "wires": []
    },
    {
        "id": "760f03d1.51b934",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "archivoActual",
                "pt": "flow",
                "to": "filename",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1280,
        "wires": [
            [
                "4b93f435.bccc54"
            ]
        ]
    },
    {
        "id": "cd57186b.f06a6",
        "type": "file in",
        "z": "ce607311.f76b",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 1990,
        "y": 1260,
        "wires": [
            [
                "4bd19293.e863e4"
            ]
        ]
    },
    {
        "id": "cfb599da.214c",
        "type": "change",
        "z": "ce607311.f76b",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "archivoActual",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Enviar por E-mail a:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ultimaDireccion",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1260,
        "wires": [
            [
                "b0a6ccca.c99c18"
            ]
        ]
    },
    {
        "id": "4bd19293.e863e4",
        "type": "link out",
        "z": "ce607311.f76b",
        "name": "send",
        "links": [
            "76ce4089.47ba"
        ],
        "x": 2095,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b0a6ccca.c99c18",
        "type": "ui_toast",
        "z": "ce607311.f76b",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Cancelar",
        "cancel": "Aceptar",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1670,
        "y": 1260,
        "wires": [
            [
                "609d30af.8fe4a8"
            ]
        ]
    },
    {
        "id": "609d30af.8fe4a8",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "if (msg.payload===\"Aceptar\"){\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 1260,
        "wires": [
            [
                "cd57186b.f06a6"
            ]
        ]
    },
    {
        "id": "dfe3a505.e60788",
        "type": "comment",
        "z": "ce607311.f76b",
        "name": "Enviar un archivo con advertencia",
        "info": "",
        "x": 1560,
        "y": 1220,
        "wires": []
    },
    {
        "id": "21697a1b.0f5536",
        "type": "inject",
        "z": "ce607311.f76b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1350,
        "y": 1140,
        "wires": [
            [
                "e1d9d5e.b274e28"
            ]
        ]
    },
    {
        "id": "4b93f435.bccc54",
        "type": "function",
        "z": "ce607311.f76b",
        "name": "",
        "func": "var fs = global.get(\"fs\");\n\nfs.stat(msg.filename, 'utf8' , (err, stats) => {\n  if (err) {\n    node.error(err);\n    node.status(err);\n    return;\n  }\n  msg.payload = msg.filename + \" ... size= \" + stats.size + \" KB\";\n  node.send(msg);\n});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1280,
        "wires": [
            [
                "b7cf9d3f.914e78"
            ]
        ]
    },
    {
        "id": "ec2c0474.97578",
        "type": "comment",
        "z": "ce607311.f76b",
        "name": "settings.js",
        "info": "En settings.js tiene que estar esto:\nfunctionGlobalContext: {\n     fs:require('fs')\n},\nasi puedes acceder a todos los metodos del node.js core module \"fs\"\nhttps://nodejs.dev/learn/nodejs-file-stats",
        "x": 820,
        "y": 1320,
        "wires": []
    }
]